body {
    font-family: Arial, sans-serif;
}

#chart {
    margin: 50px;
}

.tooltip {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
